.filter {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  flex-wrap: wrap;
  row-gap: 16px;
}

.filter__input {
  border-radius: 0.25rem;
  transition: 0.3s;
}

.filter__input-status {
  grid-column: 1 / 2;
  margin-right:16px;
}

.filter__input-time {
  grid-column: 2 / 3;
}

.filter__search {
  grid-column: 1 / 4;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter__search-input {
  flex: 10 0;
}

.filter__search-search {
  flex: 1 1;
}

.filter__search-cancel {
  flex: 1 1;
}
