.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.6) !important;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.ReactModal__Content {
  padding: 32px !important;
  inset: 10% !important;
  background-color: var(--bg) !important;
  overflow: hidden !important;
  display: grid;
  gap: 16px;
  align-items: center;
}

@media (width < 600px) {
  .ReactModal__Content {
    padding: 16px !important;
    inset: 5% !important;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-right: 32px;
}

.modal__header-btn {
  cursor: pointer;
  font-size: 20px;
  transition: .3s;
}

.modal__header-btn:first-of-type {
  margin-left: auto;
  margin-right: 24px;
}

.modal__header-btn.btn-edit.true {
  color: var(--primary);
}

.modal__header-btn.btn-delete {
  color: var(--danger);
}

.modal__header-btn.btn-edit:hover {
  color: var(--primary-hover);
}

.modal__header-btn.btn-delete:hover {
  color: var(--danger-hover);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}

.modal__input-body{
  height: 250px;
  resize: none;
  overflow-y: scroll;
}

.modal__input {
  flex: 1;
  border: 1px solid var(--white);
}

.modal__input:disabled {
  background-color: transparent;
  border: 1px solid var(--gray);
  outline: unset;
  opacity: 1;
  color: var(--white);
  cursor: auto;
}

.modal__issue-btn {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.modal__issue-btn > button {
  width: max(20%, 108px);
}

.modal__issue-btn > button:last-of-type {
  background-color: var(--primary);
}

.modal__issue-btn > button:last-of-type:hover {
  background-color: var(--primary-hover);
}