.issuesList {
  margin: 32px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: center;
}

@media (width < 700px) {
  .issuesList {
    grid-template-columns: 1fr;
  }
}

.filter {
  margin-top: 32px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter__input {
  padding: 16px;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 0.25rem;
}

.filter__input-status {
  flex: 1;
}

.filter__input-search {
  flex: 10;
}

.filter__input-time {
  flex: 1;
}