.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.5) !important;
}

.ReactModal__Content {
  padding: 32px !important;
  inset: 10% !important;
  background-color: #23232b !important;
  overflow: hidden !important;
  display: grid;
  gap: 16px;
  align-items: center;
}

@media (width < 600px) {
  .ReactModal__Content {
    padding: 16px !important;
    inset: 5% !important;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-right: 32px;
}

.modal__header-btn {
  cursor: pointer;
  font-size: 20px;
}

.modal__header-btn:first-of-type {
  margin-left: auto;
  margin-right: 24px;
}

.modal__header-btn:last-of-type {
  color: #f37370;
}

.modal__header-btn:hover {
  filter: brightness(0.9);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}

.modal__input-body{
  height: 250px;
  resize: none;
  overflow-y: scroll;
}

.modal__input {
  flex: 1;
  border-radius: 0.25rem;
  padding: 16px;
  border: 1px solid rgba(255,255,255,.4);
  transition: .3s;
  color: #fff;
}

.modal__input:disabled {
  background: #23232b;
  border: 1px solid rgba(255,255,255,.3);
  outline: unset;
}

.modal__input-status:disabled {
  opacity: 1;
  border: none;
}

.modal__issue-btn {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.modal__issue-btn > button {
  width: max(20%, 108px);
}