.issuesList {
  margin: 0px 10% 128px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: center;
}

@media (width < 700px) {
  .issuesList {
    grid-template-columns: 1fr;
  }
}

.create__btn {
  margin-left: 10%;
  align-self: flex-start;
  background-color: var(--primary);
}

.create__btn:hover {
  background-color: var(--primary);
  filter: brightness(0.8);
}