.issuesList {
  margin: 64px 10%;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 640px));
  gap: 32px;
  justify-content: center;
}

@media (width < 640px) {
  .issuesList {
    grid-template-columns: 80%;
  }
}