.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.5) !important;
}

.ReactModal__Content {
  padding: 32px !important;
  inset: 10% !important;
  background-color: #23232b !important;
  overflow: hidden !important;
  display: grid;
  align-items: center;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__header-btn {
  cursor: pointer;
  font-size: 20px;
}

.modal__header-btn:first-of-type {
  margin-left: auto;
  margin-right: 24px;
  color: #f37370;
}

.modal__header-btn:hover {
  filter: brightness(0.9);
}

.modal__issue-title, .modal__issue-body {
  display: flex;
  align-items: center;
  gap: 16px
}

.modal__issue-bodyInput {
  height: 300px;
  resize: none;
  overflow-y: scroll;
}

.modal__issue-titleInput, .modal__issue-bodyInput {
  flex: 1;
  border-radius: 0.25rem;
  padding: 16px;
}

:is(.modal__issue-titleInput, .modal__issue-bodyInput):disabled {
  background: transparent;
  border: 1px solid rgba(255,255,255,.3);
  outline: unset;
}

.modal__issue-btn {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.modal__issue-btn > button {
  width: max(20%, 108px);
}